@model PortfolioFormVm
@section header {
	Portfolios
}
<div class="col-md-12">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Create Portfolio</h3>
		</div>

		<form asp-controller="Portfolios" asp-action="Create" enctype="multipart/form-data">
			<div class="card-body">
				<div class="form-group">
					<label asp-for="Name">Portfolio Name</label>
					<input asp-for="Name" class="form-control" placeholder="Enter Name">
				</div>
				

			</div>

			<div class="card-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
